In [1]:
letter = 'z'

In [2]:
letter*10

'zzzzzzzzzz'

In [3]:
2+3

5

In [4]:
'2'+'3'

'23'

In [5]:
x = 'Hello  World'

In [6]:
x.upper()

'HELLO  WORLD'

In [7]:
x.upper()
<function str.upper>

SyntaxError: invalid syntax (<ipython-input-7-40322a97f5bf>, line 2)

In [8]:
x.split()

['Hello', 'World']

In [9]:
x= Hi, This is my string

SyntaxError: invalid syntax (<ipython-input-9-593316c54879>, line 1)

In [10]:
x = 'Hi, This is my string'

In [13]:
x.split('i')

['H', ', Th', 's ', 's my str', 'ng']

In [14]:
print('hello')

hello

In [15]:
print 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-15-5a1ef41e7057>, line 1)

In [16]:
hello

NameError: name 'hello' is not defined

In [17]:
print 'hello

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello)? (<ipython-input-17-8d6e0f8bd994>, line 1)

In [18]:
print 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-18-5a1ef41e7057>, line 1)

In [19]:
print('This is a string{}'.format('INSERTED'))

This is a stringINSERTED

In [20]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [25]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [34]:
print('the  {q} {q}  {f}'.format(f='fox',b='brown',q='quick'))

the  quick quick  fox

In [37]:
result = 100/777

In [46]:
result = 104.12345

In [48]:
print("the result was {r:1.2f}".format(r=result))

the result was 104.12

In [49]:
name = "Jose"

In [54]:
print(f'hello,his name is {name}')

hello,his name is Jose

In [55]:
name = "sam"
age  =3

In [56]:
print(f'{name} is {age} years old')

sam is 3 years old

In [58]:
name  = 'Abhishek'
age = 21

In [59]:
print('name',age)

name 21

In [60]:
print(f'{name} is {age} years old')

Abhishek is 21 years old

In [71]:
print("I'm going to inject %s here." %'something that is bad')

I'm going to inject something that is bad here.

In [72]:
my_list = [1,2,3]

In [73]:
my_list = ['STRING',100,23.2]

In [74]:
len(my_list)

3

In [75]:
my_list = ['one','two','three']

In [76]:
my_list[0]

'one'

In [77]:
my_list[1:]

['two', 'three']

In [78]:
my_list

['one', 'two', 'three']

In [85]:
another_list = ['four','five']

In [89]:
 new_list = my_list + another_list

In [90]:
my_list

['one', 'two', 'three']

In [91]:
another_list

['four', 'five']

In [92]:
new_list

['one', 'two', 'three', 'four', 'five']

In [93]:
new_list[0] =  'ONE ALL CAPS'

In [94]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [97]:
 new_list.append('six')

In [98]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [99]:
new_list.append('seven')

In [100]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [101]:
new_list.pop()

'seven'

In [102]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [104]:
popped_item = new_list.pop()

In [105]:
popped_item

'six'

In [106]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [107]:
my_list

['one', 'two', 'three', 'six']

In [108]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [109]:
mat_list = [new_list,my_list]

In [110]:
mat_list

[['ONE ALL CAPS', 'two', 'three', 'four', 'five'],
 ['one', 'two', 'three', 'six']]

In [111]:
mat_list[0]

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [112]:
mat_list.append('new')

In [113]:
mat_list

[['ONE ALL CAPS', 'two', 'three', 'four', 'five'],
 ['one', 'two', 'three', 'six'],
 'new']

In [116]:
mat_list.pop('one')

TypeError: 'str' object cannot be interpreted as an integer

In [115]:
mat_list('new')

TypeError: 'list' object is not callable

In [128]:
mat_list[1]

['one', 'two', 'three', 'six']

###

my_dict = {'key1': 'value1','key2':'value2'}

In [126]:
my_dict =

NameError: name 'my_dict' is not defined

In [129]:
my_dict= {'key1':'value1','key2':'value2'}

In [130]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [131]:
my_dict['key1']

'value1'

In [136]:
prices_lookup = {'apple':100,'Oranges': 30,'milk': 28}

In [137]:
prices_lookup['milk']

28

In [138]:
d = {'k1':123,'k2': [0,1,2],'k3':{'insidekey': 100}}

In [143]:
d['k3']['insidekey']

100

In [146]:
d['k2'][2]

2

In [147]:
d = {'key1':['a','b','c']}

In [150]:
mylist = d['key1']

In [151]:
 mylist

['a', 'b', 'c']

In [152]:
letter =  mylist[2]

In [153]:
letter

'c'

In [154]:
letter.upper()

'C'

In [155]:
 d['key1'][2].upper()

'C'

In [156]:
d= {'k1':100,'k2':200}

In [157]:
d['k3'] = 300

In [158]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [161]:
]d['k1'] = 'NEW VLAUE'

In [164]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [165]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [166]:
 d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [169]:
d.values()

dict_values([100, 200, 300])

In [170]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [ ]:
}