In [1]:
print('hello')

hello

In [2]:
print('neww')

neww

In [3]:
print('heelo i m abhishek')

heelo i m abhishek

here is your notes

In [4]:
print('new)

SyntaxError: EOL while scanning string literal (<ipython-input-4-3a9c7991904c>, line 1)

In [5]:
print('new')

new

In [6]:
7//4

1

In [7]:
a=5

In [8]:
a+a

10

In [9]:
a

5

In [10]:
a=a+a

In [11]:
amy income

10

In [12]:
a = a + a

In [13]:
a

20

In [14]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [15]:
my_taxes

10.0

In [16]:
mydogs = 2

In [17]:
mydogs = ['johnny','jaky']

In [18]:
mydogs

['johnny', 'jaky']

In [19]:
type(my_taxes)

float

In [7]:
hungry = True
if hungry ==
        print('Feed me !')
else:
        print("I m not hungry")

Feed me !

In [16]:
loc = 'Gama'

if loc == 'Auto shop':
    print("cars are cool!")
elif loc =='Bank':
        print("Money is cool!")
elif loc == 'Store':
            print("welcome to the store")
else:
    print("i do not know much")

i do not know much

In [18]:
name = 'sammy'

if name  =='Frankie':
    print("Hello Frankie!")
elif name == 'sammy':
    print("hello sammmy!")
else:
    print("what is your name")

hello sammmy!

In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [7]:
for num in mylist:
        print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [19]:
for num in mylist:
#check for  even
    if num%2==0:
        print(f'even number:{num}')
    else:
         print(f'Odd Number: {num}')

Odd Number: 1
even number:2
Odd Number: 3
even number:4
Odd Number: 5
even number:6
Odd Number: 7
even number:8
Odd Number: 9
even number:10

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [28]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [1]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [7]:
for a,b,c in mylist:
     print(c)

3
7
10

In [14]:
d={'k1':1,'k2':2,'k3':3}

for key,values in d:
    print(keys)

NameError: name 'keys' is not defined

In [1]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [5]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [3]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [6]:
'x' in [1,2,3]

False

In [7]:
1 in [1,2,3]

True

In [8]:
'a' in ['a','b']

True

In [9]:
'mykey' in {'mykey':342}

True

In [10]:
d = {'mykey':345}
345 in d.keys()

False

In [11]:
mylist = [0,20,30,40,100]

In [12]:
min(mylist)

0

In [13]:
max(mylist
   )

100

In [14]:
from random import shuffle

In [15]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [16]:
shuffle(mylist)

In [17]:
myliat

NameError: name 'myliat' is not defined

In [18]:
mylist

[3, 8, 10, 2, 1, 9, 7, 6, 4, 5]

In [21]:
random_list = shuffle(mylist)

In [22]:
random_list

In [23]:
type(random_list)

NoneType

In [24]:
  mylist

[9, 8, 4, 7, 1, 10, 2, 6, 5, 3]

In [25]:
from random import randint

In [26]:
randint(0,100)

21

In [30]:
mynum = randint(0,100)

In [31]:
mynum

91

In [36]:
 result = input('favourite number : ')

favourite number : 14

In [37]:
result

'14'

In [38]:
type(result)

str

In [39]:
float(result)

14.0

In [41]:
 int(result)

14

In [17]:
n = input("enter an no")
n = int(n)
total = 0
i = 1
while i<=n:
    total = total + i
    i = i+1
print(total)

enter an no20
210

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
 mylist

[1, 2, 3]

In [6]:
 help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [75]:

y  = float(input('enter the total amount in the account'))
print(f"The Initial ammount is  {y} ")
x = float(input("Enter the amount to be withdraw in multiple of 5 :"))
print(x)
if x<=y:
    if x%5==0:
        remain_amount = 0
        remain_amount = y-x-x*0.50
        print(f"Remaining amount in account is :{remain_amount}")
        print(f"Charges for successful transactions are : {0.50}")
    else:
        
        print(f"Please Enter amount in multiple of 5 : {x} ")
        
else:
     print("Insufficient balance in your account")

NameError: name 'raw_input' is not defined

In [11]:
def name_function():
    '''
    DOCSTRING :Info about function
    INPUT: no input..
    OUTPUT: HELLO..
    '''
    print("hello")

In [12]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING :Info about function
    INPUT: no input..
    OUTPUT: HELLO..

In [15]:
def say_hello(name='NAME'):
    print('hello '+name)

In [18]:
say_hello('David')

hello David

In [1]:
def  add(n1,n2):
    return n1+n2

In [2]:
result = add(20,30)

In [3]:
result

50

In [14]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [15]:
dog_check('Dog  ran away')

True

In [16]:
'dog' in 'dog ran away'

True

In [21]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check ifvowel 
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [22]:
pig_latin('apple')

'appleay'

In [27]:
pig_latin('word')

'ordway'

In [28]:
pig_latin('little')

'ittlelay'

In [19]:
def num(n):
    if n%2==0:
        if 2<n<5:
            print("Not Wierd")
        elif 6<n<20:
             print("Weird")
        else:
            print("Not Weird")    
    else:
        print("Weird")

In [20]:
num(3)

Weird

In [21]:
num(24)

Not Weird

In [22]:
num(1)

Weird

In [13]:
num(34)

NameError: name 'num' is not defined

In [ ]:
clear

In [4]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total = total+num
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1, 2, 3])

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])